<head>
    <style>
        body {
            color: black;
            font-size: 64px;
            font-family: "Comic Sans MS", "Comic Sans", serif
        }
    </style>
</head>

<body>
<div>
    <p>
        Empty landing page
    </p>
</div>
</body>
